@charset "UTF-8";

*{
    margin: 0%;
    padding: 0%;
}

main {
    background-image: linear-gradient(-65deg, #7D6B7D, #FF8C64, #FF665A);
    height: 100vh;
}

.clock{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color:maroon;
    font-size: 100px;
    font-family: fantasy;
}

.titulo{
    color: lawngreen;
    font-family: fantasy;
    text-align: center;
    font-size: 50px;
}